body{
	background:white;
	height:700px;
	margin:0px;
	padding:0px;
	
}
.base{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	color:gray;

}
#logo{
	position: absolute;
	right:50%;
	margin-right:-57px;
	margin-top:20px;
	
	height:38px;
	width:118px;
}

#info1{
	position: absolute;
	right:50%;
	margin-right:-250px;
	width:500px;
	margin-top:70px;
	font-family: 'Open Sans', sans-serif;
	font-size:38px;
	color:#555557;
	
}
#info2{
	position: absolute;
	width:500px;
	right:50%;
	margin-right:-250px;
	margin-top:130px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#555557;
	
}
#form-username{


	margin-top:110px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#555557;
	/*display: none;*/
}
#form1{
	position: absolute;
	margin-top:17px;
	right:50%;
	margin-right:-177.5px;
	margin-top:170px;
	width:355px;
	height:300px;
    padding-top:40px;
	background:#f7f7f7;
	box-shadow: 0px 1px 1px 1px #c6c1c1;

}
#form-img{
	position: absolute;
	right:50%;
	margin-right:-49.5px;
	width:99px;
	height:99px;
}
#mailbox{
	position: absolute;
	right:50%;
	margin-right:-135px;
	width:270px;
	height:42px;
	border-radius:5px 5px 5px 5px;
	background:white;
	
	font-size:18px;
	top:330;
	margin-top:20px;
	border-width: 0px;
	border-style:solid;
	border-color: blue;
}
#button2{
	position: absolute;
	width:270px;
	height:35px;
	right:50%;
	margin-right:-135px;
	
top:400px;
	background:#498af2;
	font-family:verdana;
	font-size:14px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
	
}
#info3container{
	position: absolute;
	top:445px;
	width:270px;
	height:35px;
	right:50%;
	margin-right:-135px;
}
#info3{

	
	float:right;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#498af2;
	
	font-weight:bold;
}
#info3 a{
	color:#498af2;
	text-decoration:none;
}
#info4{
	position: absolute;
	margin-right:-300px;
	right:50%;
	margin-top:540px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	width:600px;
	font-weight:bold;
}
#info4 a{
	color:#498af2;
	text-decoration:none;
}
#info5{
	position: absolute;
	margin-right:-300px;
	right:50%;
	margin-top:590px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#87898b;
	font-weight:bold;
	width:600px;
}

#logo2{
	position: absolute;
	right:50%;
	margin-right:-121.5px;
	margin-top:10px;
	height:27px;
	width:243px;
	top:600;
}
#bottom {
	float:left;
	padding:0px;
	margin:0px;
	
}
#bottom ul{
	list-style: none;
	
}
#bottom ul li{
	float:left;
	margin-left:20px;
     
	
}
